<div class="container-fluid">
  <div class="row">
  	<div class="col-xs-12">
		<span class="text-gray">GROUPS:</span> 
		<a class="btn btn-default pull-right" href="#/group/new" role="button" ng-click="body.initNewGroup()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Group</a>
		<br><br>
		<table class="table table-hover" ng-show="body.groups && body.groups.length > 0">
			<tr><th>id</th><th>Name</th><th>Description</th></tr>
			<tr ng-repeat="group in body.groups"><td>{{group.id}}</td><td>{{group.name}}</td><td>{{group.description}}</td></tr>
		</table>
		<div class="text-muted" ng-hide="body.groups && body.groups.length > 0">
			<em>No groups.</em>
		</div>
		
		<!-- <br><br><br> -->
		<!-- <span class="text-gray">MEALS:</span>  -->
		<!-- <br> -->
		<!-- <div class="text-muted" ng-hide="body.meals && body.meals.length > 0">
			<br>
			<em>No meals.</em>
		</div> -->
		<div ng-show="body.isSundayMeal()">
			<h2>Sunday:</h2>
			<div ng-repeat="meal in body.meals" ng-show="meal.repeatSunday" class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{meal.name}}</h3>
			  </div>
			  <div class="panel-body">
			    <em>{{meal.repeatInterval}} on {{body.printWeekdays(meal)}} from {{meal.startTime}} to {{meal.endTime}}</em> <br>
			    <strong>Location:</strong> {{meal.location}} (hosted by: {{meal.host}}) <br>
			    <strong>Description:</strong> {{meal.description}} <br>
			    <strong>Style:</strong> {{meal.style}} <br>
			  </div>
			</div>
		</div>
		<div ng-show="body.isMondayMeal()">
			<h2>Monday:</h2>
			<div ng-repeat="meal in body.meals" ng-show="meal.repeatMonday" class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{meal.name}}</h3>
			  </div>
			  <div class="panel-body">
			    <em>{{meal.repeatInterval}} on {{body.printWeekdays(meal)}} from {{meal.startTime}} to {{meal.endTime}}</em> <br>
			    <strong>Location:</strong> {{meal.location}} (hosted by: {{meal.host}}) <br>
			    <strong>Description:</strong> {{meal.description}} <br>
			    <strong>Style:</strong> {{meal.style}} <br>
			  </div>
			</div>
		</div>
		<div ng-show="body.isTuesdayMeal()">
			<h2>Tuesday:</h2>
			<div ng-repeat="meal in body.meals" ng-show="meal.repeatTuesday" class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{meal.name}}</h3>
			  </div>
			  <div class="panel-body">
			    <em>{{meal.repeatInterval}} on {{body.printWeekdays(meal)}} from {{meal.startTime}} to {{meal.endTime}}</em> <br>
			    <strong>Location:</strong> {{meal.location}} (hosted by: {{meal.host}}) <br>
			    <strong>Description:</strong> {{meal.description}} <br>
			    <strong>Style:</strong> {{meal.style}} <br>
			  </div>
			</div>
		</div>
		<div ng-show="body.isWednesdayMeal()">
			<h2>Wednesday:</h2>
			<div ng-repeat="meal in body.meals" ng-show="meal.repeatWednesday" class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{meal.name}}</h3>
			  </div>
			  <div class="panel-body">
			    <em>{{meal.repeatInterval}} on {{body.printWeekdays(meal)}} from {{meal.startTime}} to {{meal.endTime}}</em> <br>
			    <strong>Location:</strong> {{meal.location}} (hosted by: {{meal.host}}) <br>
			    <strong>Description:</strong> {{meal.description}} <br>
			    <strong>Style:</strong> {{meal.style}} <br>
			  </div>
			</div>
		</div>
		<div ng-show="body.isThursdayMeal()">
			<h2>Thursday:</h2>
			<div ng-repeat="meal in body.meals" ng-show="meal.repeatThursday" class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{meal.name}}</h3>
			  </div>
			  <div class="panel-body">
			    <em>{{meal.repeatInterval}} on {{body.printWeekdays(meal)}} from {{meal.startTime}} to {{meal.endTime}}</em> <br>
			    <strong>Location:</strong> {{meal.location}} (hosted by: {{meal.host}}) <br>
			    <strong>Description:</strong> {{meal.description}} <br>
			    <strong>Style:</strong> {{meal.style}} <br>
			  </div>
			</div>
		</div>
		<div ng-show="body.isFridayMeal()">
			<h2>Friday:</h2>
			<div ng-repeat="meal in body.meals" ng-show="meal.repeatFriday" class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{meal.name}}</h3>
			  </div>
			  <div class="panel-body">
			    <em>{{meal.repeatInterval}} on {{body.printWeekdays(meal)}} from {{meal.startTime}} to {{meal.endTime}}</em> <br>
			    <strong>Location:</strong> {{meal.location}} (hosted by: {{meal.host}}) <br>
			    <strong>Description:</strong> {{meal.description}} <br>
			    <strong>Style:</strong> {{meal.style}} <br>
			  </div>
			</div>
		</div>
		<div ng-show="body.isSaturdayMeal()">
			<h2>Saturday:</h2>
			<div ng-repeat="meal in body.meals" ng-show="meal.repeatSaturday" class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{meal.name}}</h3>
			  </div>
			  <div class="panel-body">
			    <em>{{meal.repeatInterval}} on {{body.printWeekdays(meal)}} from {{meal.startTime}} to {{meal.endTime}}</em> <br>
			    <strong>Location:</strong> {{meal.location}} (hosted by: {{meal.host}}) <br>
			    <strong>Description:</strong> {{meal.description}} <br>
			    <strong>Style:</strong> {{meal.style}} <br>
			  </div>
			</div>
		</div>
		
	</div>
  </div>
</div>

