<div class="container-fluid">
	<div class="row">

			<div class="col-xs-12 col-sm-6">
				<span class="text-gray">LEADERBOARD:</span>
				<table class="table table-hover">
					<tr><th>Wins</th><th>Name</th></tr>
					<tr ng-repeat="player in body.players | orderBy:'wins':true"><td>{{player.wins}}</td><td>{{player.name}}</td></tr>
					<tr>
						<td>{{body.newPlayer.wins}}</td>
						<td>
							<input type="text" class="form-control" placeholder="Player Name" ng-model="body.newPlayer.name" ng-keydown="$event.keyCode === 13 && body.addNewPlayer()">
						</td>
				</tr>
				</table>
				<br/><br/>
			</div>
			
			<div class="col-xs-12 col-sm-6">
				<span class="text-gray">GAMES:</span>
				<table class="table table-hover">
					<tr><th>Winner</th><th>Loser</th></tr>
					<tr ng-repeat="game in body.games"><td>{{game.winner.name}} [{{game.winner.wins}}]</td><td>{{game.loser.name}} [{{game.loser.wins}}]</td></tr>
					<tr>
						<td>
							<select class="form-control" ng-model="body.newGame.winner" ng-options="player.name for player in body.players">
								<option value="" selected disabled>Select Winner</option>
							</select>
						</td>
						<td>
							<select class="form-control" ng-model="body.newGame.loser" ng-options="player.name for player in body.players">
								<option value="" selected disabled>Select Loser</option>
							</select>
						</td>
					</tr>
				</table>
				<a class="btn btn-default" role="button" ng-click="body.addNewGame()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Game</a>
				<br/><br/>
			</div>

	</div>
</div>