h4{
	font-size: 14px;
	color: #959595;
	text-transform: uppercase;
}
.filter-by {
	color: #DDD;
}
.inline-block {
	display: inline-block;
}
.hide-text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bootstrap-col-size {
	position: fixed;
	top: 0;
	right: 135px;
}
.transparent {
	opacity: 0.4;
}

.svgOverlay {
	position:absolute;
	top:0;
}

.text-gray {
	color: #959595;
	font-weight: bold;
}